@value utils: '../../styles/utils.css';
@value small-bp from utils;

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 5rem;
  composes: container from utils;
}

.title {
  composes: title from utils;
}

.converter {
  margin: 2rem auto 1.5rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  filter: drop-shadow(0 20px 20px var(--color-primary-900));
}

@media (small-bp) {
  .converter {
    grid-template-columns: repeat(1, 1fr);
  }
}

.from {
  background-color: var(--color-white);
  padding: 2rem 3rem 2rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.to {
  background-color: var(--color-gray-100);
  padding: 2rem 1rem 2rem 3rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (small-bp) {
  .from {
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
  }
  .to {
    border-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
  }
}

.currency-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.currency-row > input {
  grid-column: span 3 / span 3;
}

.currency-row > div {
  grid-column: span 2 / span 2;
}

.switch-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
}

@media (small-bp) {
  .switch-icon {
    display: none;
  }
}

.switch-icon img {
  width: 1.5rem;
}

.refresh-button {
  margin: 2.5rem 0.5rem 0;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  font-size: var(--small-paragraph);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.refresh-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.refresh-button svg {
  width: 1rem;
  margin-right: 0.5rem;
}

.refresh-button.loading svg {
  animation: spin 1s linear infinite;
}

.refresh-button:hover {
  color: var(--color-primary-900);
}

.rate {
  margin: 2.5rem 0.5rem 0;
  font-size: var(--small-paragraph);
}

.rate span {
  font-weight: var(--bold);
}

.last-update {
  display: flex;
  padding: 0 0.5rem;
  justify-content: flex-end;
  font-size: var(--small-paragraph);
  color: var(--color-primary-100);
}

.last-update span {
  margin-right: 0.2rem;
}

.error {
  composes: error from utils;
}
